@{
    ViewBag.Title = "Home Page";
}
@model BullsAndCows.Web.Models.Guess

<div class="jumbotron">
    <h1>Bulls And Cows</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Past Attempts</h2>
        <ul id="pastGuessesList">
            @Html.Partial("_PastGuesses", new string[0])
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Take a guess</h2>
        @using (Ajax.BeginForm("TakeGuess", "Home", new AjaxOptions {HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "pastGuessesList"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(x => x.Input)
            <input id="submitGuess" type="submit" value="Do it"/>
        }
    </div>
</div>