@{
    ViewBag.Title = "Home Page";
}
@model BullsAndCows.Web.Models.Guess

<div class="jumbotron">
    <h1>Bulls And Cows</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Past Attempts</h2>
        <ul>
            <li>one</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Take a guess</h2>
        <form method="post" action="@Url.Action("TakeGuess")">
            @Html.TextBoxFor(x => x.Input)
            <input id="submitGuess" type="submit" value="Do it"/>
        </form>
    </div>
</div>