@{
    ViewBag.Title = "Home Page";
}
@model BullsAndCows.Web.Models.Guess

<div class="jumbotron">
    <h1>Bulls And Cows</h1>
</div>

<div class="row">
    @using (Ajax.BeginForm("TakeGuess", "Home", new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.InsertBefore,
        UpdateTargetId = "pastGuessesList"
    }))
    {
    <div class="col-md-4">
        <h2>Past Attempts</h2>
        <ul id="pastGuessesList">
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Take a guess</h2>
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(x => x.Input)
        <input id="submitGuess" type="submit" value="Do it"/>

    </div> }
</div>